.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right,#c7cacf, #31484f);
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: white;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.nav-link {
  text-decoration: none;
  color: #0072ff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background: #0072ff;
  color: white;
}

br {
  margin-bottom: 20px;
}

.gender-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #e5ddde, #ca7598);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 50px auto;
  font-family: 'Arial', sans-serif;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.show-button {
  /* background: #4caf50;  */
  background: linear-gradient(to right, #d6f8d7, #45a049);
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.show-button:hover {
  background: #45a049; 
}

.gender-result {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  text-align: justify;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gender-result p {
  margin: 0;
  font-size: 18px;
  color: #333;
}


.fake {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 50px auto;
  font-family: 'Arial', sans-serif;
}

h1 {
  color: white;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.product-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  transition: transform 0.3s ease;
  text-align: justify;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card b {
  color: #ff758c;
}

.product-card div {
  margin: 10px 0;
}

.product-image {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
}