    html {
      scroll-behavior: smooth;
    }

    img {
      max-width: 100%;
      height: auto;
    }
    body {
      cursor: url("C:\Users\krishna.gangisetty\Downloads\cursor.png"), auto;
    }

    .center {
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: lightgray;
      margin: 20px auto;
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: 300px;
      background-color: #f0f0f0;
      padding: 10px;
      margin: 20px auto;
    }
    .no-select {
      user-select: none;
      background-color: lightyellow;
      padding: 10px;
      width: 300px;
      margin: 20px auto;
      text-align: center;
    }